@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Noto+Sans+JP:wght@300;400;500;700&family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    height: 80px;
    display: flex;
}

.nav__container {
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    width: 160px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.nav__link {
    margin-left: 16px;
    text-decoration: none;
    font-size: 20px;
    color: #0d47a1;
    font-weight: bold;
    padding: 8px;
}

.nav__link:hover {
    text-decoration: underline
}

.nav__link--primary {
    border: 2px solid #0d47a1;
    border-radius: 4px;
}

.nav__link--primary:hover {
    text-decoration: none !important /*!important es para darle prioridad a este codigo; tiene que estar después del .nav__link:hover para que funcione sin el !important aunque no es necesario en este caso usar el !important*/;
}